:root {
    --sidebarColor: #1992D4;
    --headerColor: #FFFFFF;
    --mainColor: #E2E8F0;
}

img {
    cursor: pointer;
}

body {
    height: 100vh;
    margin: 0;

    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;

    font-family: "Roboto", sans-serif;
}

aside {
    padding: 16px; 

    background-color: var(--sidebarColor);
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: 0.4fr 1.6fr 3fr;
}

h1 {
    font-size: 2rem;

    color: var(--headerColor);

    margin: 0;
}

aside li {
    font-size: 1.3rem;
    font-weight: 500;

    margin-top: 12px;

    display: flex;
    align-items: center;
    gap: 8px;
}

header {
    background-color: var(--headerColor);

    display: grid;
    grid-template-rows: 1fr 1.2fr;

    z-index: 100;
    box-shadow: 0 2px 8px 1px #0000005b;
}

.top-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 350px;
}

.top-wrapper .user-info {
    display: flex;
    align-items: center;
    
    gap: 20px;
}

.top-wrapper .user-info img + img {
    height: 64px;
    width: 64px;

    border: none;
    border-radius: 50%;
}

.top-wrapper input {
    background-color: var(--mainColor);
    
    appearance: none;
    outline: none;
    border: none;

    font-size: 1.02rem;
    
    height: 28px;
    margin: 30px;
    padding: 8px;

    border-radius: 16px;

    flex: 1 1 0;
}

.top-wrapper input:hover {
   border: 1px solid #B8B8B8;
}

.top-wrapper input:focus {
    box-shadow: 0 0 8px 0.5px var(--sidebarColor);
}

.user-info {
    margin-right: 40px;
}

.bottom-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 100px 0 30px;
}

.bottom-wrapper .welcome-message {
    display: flex;
    align-items: center;
    gap: 18px;

    font-weight: 600;
}

.bottom-wrapper .welcome-message img {
    height: 100px;
    width: 100px;

    border-radius: 50%;
    font-weight: normal; /* remove boldness from alternative text if the icon doesn't load */
}

span {
    display: block;
    font-size: 1.3rem;
}

.bottom-wrapper .action-buttons {
    display: flex;
    gap: 20px;
}

.bottom-wrapper .action-buttons button {
    background-color: var(--sidebarColor);
    color: var(--headerColor);

    padding: 10px 30px;

    font-size: 1.2rem;
    font-weight: 600;

    border: none;
    border-radius: 20px;

    cursor: pointer;
}

.bottom-wrapper .action-buttons button:hover {
    background-color: #1480b9;
}

main {
    background-color: var(--mainColor);

    padding: 32px 16px 60px 16px;
    
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 28px;
}

main h3 {
    margin: 0 0 16px 0;
}

main .projects {
    grid-row: 1 / 3;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px 20px;
}

.card {
    display: flex;
    flex-direction: column;

    background-color: var(--headerColor);
    padding: 18px;

    box-shadow: 2px 2px 4px 1px #0000005b;
    
    border-left: 7px solid #999966;
    border-radius: 12px;
}

.card p, .announcements p {
    color: #5A5A5A;

    margin-bottom: 24px;
    margin-top: 0;
}

.card .title, .announcements .title {
    color: #000000;

    font-size: 1.05rem;
    font-weight: 500;
    
    margin: 0;
}

/* I could've used align-self property here, but I would have to use Flexbox anyway to apply gap, so I chose justify-content */
.card .action-icons {
    display: flex;
    justify-content: flex-end;
    gap: 18px;;
}

main .projects-section a {
    color: #000000;
    text-decoration: underline;
}

main .projects-section a:hover {
    color:#4B4B4B;
}

main .announcements {
    background-color: var(--headerColor);

    box-shadow: 2px 2px 4px 1px #0000005b;

    border-radius: 12px;

    padding: 32px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .announcements .announcement-card {
    border-bottom: 1px solid #4b4b4b5e;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--headerColor);
}

a:hover {
    color: var(--mainColor);
}