:root {
    --sidebarColor: #1992D4;
    --headerColor: #FFFFFF;
    --mainColor: #E2E8F0;
}

body {
    height: 100vh;
    margin: 0;

    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
}

aside {
    padding: 16px; 

    background-color: var(--sidebarColor);
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: 0.4fr 1.6fr 3fr;
}

h1 {
    font-size: 2rem;

    color: var(--headerColor);

    margin: 0;
}

aside li {
    font-size: 1.5rem;

    margin-top: 12px;
}

header {
    background-color: var(--headerColor);

    display: grid;
    grid-template-rows: 1fr 1.2fr;
}

.top-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 400px;
}

.top-wrapper .user-info {
    display: flex;
    align-items: center;
    
    gap: 20px;
}

.top-wrapper .user-info img {
    height: 64px;
    width: 64px;

    border: none;
    border-radius: 50%;
}

.top-wrapper input {
    background-color: var(--mainColor);
    
    appearance: none;
    outline: none;
    border: none;

    font-size: 1.02rem;
    
    height: 28px;
    margin: 30px;
    padding: 8px;

    border-radius: 16px;

    flex: 1 1 0;
}

.top-wrapper input:hover {
   border: 1px solid #B8B8B8;
}

.top-wrapper input:focus {
    box-shadow: 0 0 8px 0.5px var(--sidebarColor);
}

.user-info {
    margin-right: 40px;
}

.bottom-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 100px 0 30px;
}

.bottom-wrapper .welcome-message {
    display: flex;
    align-items: center;
    gap: 18px;

    font-weight: 600;
}

.bottom-wrapper .welcome-message img {
    height: 100px;
    width: 100px;

    border-radius: 50%;
    font-weight: normal; /* remove boldness from alternative text if the icon doesn't load */
}

span {
    display: block;
    font-size: 1.3rem;
}

.bottom-wrapper .action-buttons {
    display: flex;
    gap: 20px;
}

.bottom-wrapper .action-buttons button {
    background-color: var(--sidebarColor);
    color: var(--headerColor);

    padding: 10px 30px;

    font-size: 1.2rem;
    font-weight: 600;

    border: none;
    border-radius: 20px;

    cursor: pointer;
}

.bottom-wrapper .action-buttons button:hover {
    background-color: #1480b9;
}

main {
    background-color: var(--mainColor);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--headerColor);
}

a:hover {
    color: var(--mainColor);
}