:root {
    --sidebarColor: #1992D4;
    --headerColor: #FFFFFF;
    --mainColor: #E2E8F0;
}

body {
    height: 100vh;
    margin: 0;

    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
}

aside {
    padding: 16px; 

    background-color: var(--sidebarColor);
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: 0.4fr 2fr 3fr;
}

h1 {
    margin: 0;
}

header {
    background-color: var(--headerColor);
}

main {
    background-color: var(--mainColor);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--headerColor);
}

a:hover {
    color: var(--mainColor);
}